{% extends 'base.html' %}

{% block content %}

    <main class="container">

        <!-- drink/ingredients  -->
        <div class="drink-ingredients-panel">

            <header class="drink-ingredients-header">
                <button class="item-button drink-button">Drinks</button><button class="item-button ingredient-button">ingredients</button>
            </header>

            <!-- show drink -->
            <ul class="item-list drink-list">
            {% for drink in drinks %}
            
                <li>{{drink.name}}</li>
            
            {% endfor %}
            </ul>
            
            <ul class="item-list ingredient-list hide">
            {% for ingredient in ingredients %}
            <!-- show ingredients -->

                    <li>{{ingredient.name}}</li>
            
            {% endfor %}
            </ul>

        </div>


        <!-- receipt -->
        {% include 'side_bar.html' %}
        
    </main>

    <script src="/static/scripts/category.js"></script>

{% endblock %}