{% extends 'base.html' %}

{% block content %}

    <main class="container">
        <!-- categories  -->
        <section id='category-panel' class="cats">
            {% for category in categories %}
                <a href="category/{{category.id}}">
                    <div class="category">
                        <h3>{{category.name}}</h3>
                    </div>
                </a>
            {% endfor %}
        </section>

        <!-- receipt -->
        {% include 'side_bar.html' %}
        
    </main>

    <script src="static/scripts.js"></script>

{% endblock %}