{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
    <section class="container">
        <section class="head">
            <h1>BarApp</h1>
            <button class="create-order">Start New Order</button>
        </section>
        <section class="cats">
            {% for category in categories %}
                <div class="category">
                    <h3>{{category}}</h3>
                </div>
            {% endfor %}
        </section>
        <div class="tab">
            <h4>Order</h4>
            <h6>Whisky Ginger    $6</h6>
            <h6>Whisky Ginger    $6</h6>
            <h6>Whisky Ginger    $6</h6>
            <h6>Whisky Ginger    $6</h6>
            <h6>Whisky Ginger    $6</h6>
            <h6>Whisky Ginger    $6</h6>
            <h6>Whisky Ginger    $6</h6>
            <section class="tab-buttons">
                <button class="close-tab">Close Tab</button>
                <button class="save-tab">Save Tab</button>
            </section>

        </div>
    </section>

    {% endblock %}