<!-- <div class="tab">
    <h4>Order</h4>
    <div id='tab-display'></div>
    <div id='sub-total'></div>
    <section class="tab-buttons">
        <button class="close-tab {{user.id}}">Close Tab</button>
        <button class="save-tab">Save Tab</button>
    </section>
</div>
 -->






<section id="list-order" class="list-order tab">
        <h3>List of Order:</h3>
    
        <ul id="order-list">
            <li></li>
        </ul>
    
        <div>
            <button id='new-order-btn'>New Order</button>
        </div>
    
    
</section>

<!-- 
<section id="new-order" class="new-order tab">
        <div class="tab-buttons">
                <button class="close-tab">Close Tab</button>
                <button class="save-tab">Save Tab</button>
        </div>
        
</section>  -->


<script src="/static/scripts/side_bar.js"></script>
