<!-- <div class="tab">
    <h4>Order</h4>
    <div id='tab-display'></div>
    <div id='sub-total'></div>
    <section class="tab-buttons">
        <button class="close-tab {{user.id}}">Close Tab</button>
        <button class="save-tab">Save Tab</button>
    </section>
</div>
 -->





<!-- list order -->
<section id="list-order" class="list-order tab">
        <h3>List of Order:</h3>
    
        <ul id="order-list">
            <li></li>
        </ul>
    
        <div>
            <button id='new-order-btn'>New Order</button>
        </div>
    
    
</section>

<!-- new order -->
<section id="new-order" class="new-order tab hide">

    <form method="POST" class="new-order-form">
            {% csrf_token %}

            <p>
                <label for="Customer Name">Customer Name</label>
                <input type="text" name="customername" required maxlength="25" minlength="2" />
            </p>

            <button type="submit">Submit new order</button>
    </form>
        
</section> 



<!-- <div class="tab-buttons">
        <button class="close-tab">Close Tab</button>
        <button class="save-tab">Save Tab</button>
</div> -->


<script src="/static/scripts/side_bar.js"></script>




